
.items {
    width: 1000px;
}

.itemsNone {
    text-align: center;
    margin: 100px 0;
    font-size: 30px;
    font-weight: bold;
}

.itemsHead {
    background-color: white;
    padding: 5px 20px;
}
.itemsHeadTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.itemsHeadTitle .title{
    margin: 10px 0;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
}

.itemsHead hr {
    width: 100%;
    border: 1px solid #0B5AA2;
}

.itemsBody {
    padding: 10px 0;
}

.totalContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.totalText {
    font-weight: bold;
    font-size: 20px;
}


