.container {
    border: 1px solid black;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    background-color: #128CFC;

}

.items {
    width: 1000px;
}


.itemsHead {
    background-color: white;
    padding: 5px 20px;
}

.itemsHead p{
    margin: 10px 0;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
}

.itemsHead hr {
    width: 100%;
    border: 1px solid #0B5AA2;
}

.itemsBody {
    padding: 10px 0;
}

.totalContainer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.totalText {
    font-weight: bold;
    font-size: 20px;
}


