input {
    border: none;
    border-bottom: 1px solid gray;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    outline: none;
}
body {
    background-color: #128CFC;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px;

}