button {
    display: flex;
    padding: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}

button + button {
    margin-left: 5px;
}


.deleteButton > svg{
    fill: red;
}
.deleteButton:hover {
    background-color: red;
}

.deleteButton:hover svg {
    fill: white;
}

.linkButton > svg{
    fill: #0B5AA2;
}

.linkButton:hover {
    background-color: #0B5AA2;
}

.linkButton:hover svg {
    fill: white;
}
.addButton > svg{
    fill: #00831d;
}

.addButton:hover {
    background-color: #00831d;
}

.addButton:hover svg {
    fill: white;
}

.primaryButton {
    background-color: #0B5AA2;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
}

.primaryButton:hover {
    opacity: 60%;
}