.modalBackground {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.modalEdge {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.modalDivider {
    border: 1px solid #0B5AA2;
    margin: 5px 0;
}

.modalTitle {
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
}

.modalContent {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}




